* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10px;
}

/* Efeito inicial de ocultar */
.reveal {
  opacity: 0;
  transform: translateX(-60px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

/* Quando aparecer na tela */
.reveal.active {
  opacity: 1;
  transform: translateX(0);
}

:root {
  --header-color: white;
  --border-header-color: rgb(241, 241, 241);
  --navlink-color: black;
  --navmenu-color: grey;
  --navmenu-text: white;
  --bar-color: black;
  --bg-color: white;
  --card-bg: white;
  --bg-color-odd: rgb(247, 247, 247);
  --p-color-text: rgb(99, 99, 99);
  --color-text: black;
  --text-decoration: rgb(99, 99, 99);
  --typing-color: black;
  --experience-topic: rgb(85, 85, 85);
}

.dark-theme {
  --header-color: black;
  --border-header-color: black;
  --navlink-color: #f1f1f1;
  --navmenu-color: rgb(212, 212, 212);
  --bar-color: white;
  --bg-color: #242424;
  --bg-color-odd: black;
  --card-bg: #242424;
  --card-title: white;
  --color-text: #f1f1f1;
  --typing-color: white;
  --experience-topic: rgb(224, 224, 224);
}

#theme-selector {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: var(--bg-color);
  color: var(--color-text);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

section {
  min-height: 100vh;
}

section:nth-child(even) {
  background-color: var(--bg-color);
  transition: background-color 0.3s, color 0.3s;
}

section:nth-child(odd) {
  background-color: var(--bg-color-odd);
  transition: background-color 0.3s, color 0.3s;
}

a {
  text-decoration: none;
}

p {
  color: var(--color-text);
  font-family: 'Poppins';
  font-size: 18px;
}

.section-content-about {
  padding-top: 70px;
}

.section-content-about p {
  font-size: 16px;
}

.section-content-about h2 {
  font-family: 'Poppins';
  color: var(--color-text);
}

.section-content h1 {
  font-family: 'Montserrat';
  font-size: 38px;
  font-style: italic;
  text-align: left;
  margin-left: 160px;
  color: var(--color-text);
  padding-top: 50px;
  text-decoration: underline;
  text-underline-offset: 20px;
  text-decoration-color: var(--text-decoration)
}

.section-content p {
  font-size: 16px;
}

.section-content h2 {
  font-family: 'Poppins';
  color: var(--color-text);
}

#social-icon a {
  color: var(--color-text);
  padding-right: 20px;
}

#cv-button {
  text-decoration: none;
}

#bt-curriculum {
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 20px;
}

.section-content h1 {
  padding-top: 100px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 30%);
  width: auto;
  gap: 70px;
  margin-top: 170px;
  margin-left: 100px;
  justify-content: center;
  align-items: center;
}

.grid-content img {
  width: 110px;
  height: 115px;
  margin-right: 15px;
  background-color: rgb(0, 0, 0);
  padding: 10px 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid-content {
  display: flex;
  align-items: center;
}

.text-content {
  display: flex;
  flex-direction: column;
}

.text-content p {
  text-align: left;
  font-size: 17px;
  max-width: 350px;
}

.text-content h2 {
  font-size: 22px;
}

.sobre-content {
  display: flex;
  text-align: left;
  justify-content: center;
  margin-top: 0px;
}

.sobre-text {
  margin-top: 150px;
}

.sobre-content h2 {
  font-size: 35px;
  max-width: 500px;
}

.sobre-title::after{
  content: '|';
  animation: blink 0.7s infinite;
  color: var(--typing-color);
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

#sobre-content-text {
  margin-left: 50px;
  max-width: 600px;
}

.sobre-content h3 {
  font-family: "Poppins";
  color: rgb(63, 63, 63);
  font-size: 20px;
  margin-left: 30px;
}

#img-about {
  width: 350px;
  height: 400px;
  border-radius: 1.5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 150px;
  margin-top: 150px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(4, 18.9%);
  margin-top: 150px;
  justify-content: center;
  align-items: center;
}

.card {
  width: 20rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-title {
  color: var(--card-title);
}

.card-body {
  background-color: var(--card-bg);
}

.card-text {
  width: 16rem;
  text-align: left;
}

.portfolio-grid img {
  height: 180px;
}

.contact-form {
  padding-top: 140px;
  margin-left: 350px;
  display: flex;
  justify-content: center;
}

.contact-form form {
  width: 600px;
  margin-right: 60px;
}

.contact-form h3 {
  color: var(--color-text);
}

.contact-form p {
  text-align: left;
}

#name {
  height: 65px;
  background-color: var(--bg-color);
  color: var(--color-text);
}

#mail {
  height: 65px;
  background-color: var(--bg-color);
  color: var(--color-text);
}

#subject {
  height: 65px;
  background-color: var(--bg-color);
  color: var(--color-text);
}

#message {
  height: 150px;
  background-color: var(--bg-color);
  color: var(--color-text);
}

.contact-form a {
  text-decoration: none;
  color: var(--color-text);
}

.portfolio-footer {
  text-align: center;
  background-color: #242424;
  width: 100%;
  height: 90px;
}

.portfolio-footer p {
  padding-top: 5px;
  color: white;
  text-align: center;
  width: auto;
}

#social-icon-footer a {
  color: white;
  margin-right: 10px;
}

.experience-content {
  display: flex;
  text-align: left;
  justify-content: center;
  margin-top: 100px;
}

.experience-content h2 {
  font-size: 25px;
}

#experience-content-text {
  max-width: 600px;
}

.experience-content h3 {
  font-family: "Poppins";
  color: var(--color-text);
  font-size: 20px;
  margin-left: 30px;
}

.experience-content h4 {
  font-family: "Poppins";
  color: var(--color-text);
  font-size: 17px;
  margin-left: 30px;
}

.experience-content ul {
  font-family: "Poppins";
  color: var(--experience-topic);
  margin-left: 50px;
  max-width: 600px;
  font-size: 14.5px;
  line-height: 1em;
}

.education {
  margin-left: 150px;
}

.experience-section {
  background-color: var(--bg-color);
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.timeline {
  position: relative;
  padding: 0;
  margin: 0;
}

.timeline::before{
  content: '';
  position: absolute;
  left: 36px;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: var(--typing-color);
  border-radius: 5px;
}

.timeline-item {
  position: relative;
  margin-left: 47px;
  margin-bottom: 25px;
}

.timeline-item::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 20px;
  width: 20px;
  height: 20px;
  background: white;
  border: 4px solid black;
  box-shadow: 0 0 0 4px #f9f9f9;
  border-radius: 50%;
}
